
@model PaginatedList<RO>

@{
    ViewData["Title"] = "Reorder Paragraph";
}

<h2>Reorder Paragraph 练习</h2>

<form asp-action="Index" method="get">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">按文章标题搜索：</label>
        <div class="col-sm-4">
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" class="form-control" />
        </div>
        <div class="col-sm-3">
            <input type="submit" value="搜索" class="btn btn-outline-secondary" />
            <a asp-action="Index" class="btn btn-outline-secondary">返回全部</a>
        </div>
        <div class="col-sm-3">
            <a asp-action="Create" class="btn btn-outline-success float-right">创建新记录</a>
        </div>
    </div>
</form>

<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">文章标题</a>
            </th>
            <th>
                是否确认原题
            </th>
            <th>
                创建时间
            </th>
            <th>
                更新时间
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Url.Action("Index","Paragraphs",new {pid = item.ArticleId})">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">详细信息</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
@* The paging buttons are displayed by tag helpers *@
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-primary @prevDisabled">
    上一页
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-outline-primary float-right @nextDisabled">
    下一页
</a>
