<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PTE Test Helper</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/customize.css" rel="stylesheet" />
        <script src="~/lib/js/jquery-3.3.1.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/css/bootstrap.min.css" />
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/customize.css" rel="stylesheet" />
        <script src="~/lib/js/jquery-3.3.1.min.js"></script>
    </environment>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-pte fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
            <img src="~/images/pte.svg" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "RO")">Re-Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Fill in Blank</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()

        <footer class="fixed-bottom">
            <div id="footer-bottom">
                <div id="footer-bottom-inner" class="container">
                    <div id="copyright">
                        © 2018. Shallowpig. Personal  All rights reserved.
                    </div><!-- #copyright -->
                </div><!-- #footer-bottom-inner -->
            </div>
        </footer>

    </div>

    <environment include="Development">
        <script src="~/lib/js/bootstrap.bundle.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
