@model IEnumerable<PTE_Test_Helper.Models.Paragraph>

@{
    ViewData["Title"] = "Index";
}

@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                        @Html.DisplayNameFor(model => model.ParentId)
                    </th>
                <th>
                    Reorder this article
                </th>
                <th>
                        @Html.DisplayNameFor(model => model.Location)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                            @Html.DisplayFor(modelItem => item.ParentId)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </td>
                    <td>
                        <input type="number" max="@Model.Count()" min="1" />
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<div>
    <a asp-controller="RO" asp-action="Index">Back to Previous Page</a>
</div>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-lg-6">
            <div ondrop="drop(event)" ondragover="allowDrop(event)" class="drag-area">
                <div draggable="true" ondragstart="drag(event)" id="drag-@item.ID">@Html.DisplayFor(modelItem => item.Content)</div>
            </div>
        </div>
        <div class="col-lg-6">
            <div ondrop="drop(event)" ondragover="allowDrop(event)" class="drag-area"></div>
        </div>
    }
</div>


<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
    }
</script>